.logo{
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
   
}
.rank1{
    width: 20px;
    height: 20px;
}
.font{
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.search{
    border-radius: 24px;
}

.div3{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 600px;
    max-width: 584px;
}
.line{
    color: #bfa;
    margin-bottom: 2%;
    width: 70%;
}
.div5{
    
    color: rgb(141, 140, 140);
}
.div4{
    width: 1200px;
    margin: auto;
}
.root{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.div1{
    align-items:center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 229px;

}
.div2{
    
    text-align: center;
    height: 32px;
    line-height: 32px;
}
.dog{
    width: 350px;
}
.p{
    width: 100px;
    cursor:pointer
}
.font1{
    padding-top: 7px;
}